@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Inter', sans-serif; */
@layer base {
	body {
		font-family: "Roboto", sans-serif;
		color: #000;
		font-weight: normal;
		font-style: normal;
		background: #ffffff;
	}
}

@layer components {
	.container {
		@apply max-w-[1150px];
	}
}

.translateO {
	transform: translateY(-400%);
	transition: transform 0.3s ease-in-out;
}

.active-block {
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
@media (max-width: 640px) {
	.active-block {
		display: block;
	}
}

.menu-active {
	transform: translate(0);
	transition: transform 0.3s ease-in-out;
}

.body-lock {
	overflow: hidden;
}

.active {
	position: relative;
	overflow: hidden;
}

.active span:nth-child(2) {
	transform: translate(150%);
	transition: transform 0.5s;
}

span:nth-child(2) {
	transform: translate(0);
	transition: transform 0.5s;
}

.active span:first-child {
	transform: rotate(45deg);
	transition: transform 0.3s;
	position: absolute;
	right: 0;
	top: 10px;
}

.active span:last-child {
	transform: rotate(-45deg);
	transition: transform 0.3s;
	position: absolute;
	right: 0;
	top: 10px;
}
